* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Arial", sans-serif;
    background-color: #003703;
    padding: 0 .5em .5em .5em;
}

#flowerbkgd {
    background-size: cover;
    /* Scale the background image to cover the entire area of the element */
    background-position: center center;
    /* Center the background image within the element */
    background-attachment: fixed;
    /* Keep the background image fixed in place when scrolling */
    transition: background-image 300ms ease-in-out;
}

#toggleDarkMode {
    position: relative;         /* Position the button relative to its normal position */
    bottom: 20px;
    left: 10px;
    max-width: 180px;
    z-index: 1000;
    /* Ensure the button is above other content */
    padding: 10px;
    background-color: rgba(255, 86, 238, 0.8);
    color: #180012;
    border: rgb(155, 29, 145);    /* Solid border with the same color as the background */
    border-radius: 5px;
    cursor: pointer;            /* Change cursor to pointer on hover */
}

body.darkMode {
    background-color: #51003c;
    color: white;
}

header.darkMode {
    background-color: rgb(245, 245, 245, 0.7);
}

h1#banner.darkMode {
    color: rgba(255, 86, 238, .8);
}

header h2.darkMode {
    padding: .5em;
    text-align: center;
    font-size: 1.8em;
    color: rgba(255, 86, 238, .8);
    background: rgb(32, 32, 32);
    /* semi-transparent background for better readability */
    border-radius: 5px;
    margin: 20px;
}

section.darkMode,
section {
    transition: background-color 200ms ease, color 200ms ease;
}

/* when darkMode is enabled, make sections darker and text light */
body.darkMode section {
    background-color: rgba(24, 0, 18, 0.70);
    /* semi-transparent background for better readability */
    color: #fff;
}

header {
    background: rgba(255, 86, 238, 0.50);
    /* semi-transparent background for better readability */
    padding: 10px;
    margin: 0 0 6rem 0;
}

h1#banner {
    font-family: "Playfair Display", "Didot", "Bodoni MT", "Times New Roman", serif;
    font-size: 5rem;
    color: #180012;
    padding: .5em;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.7);
    margin: 20px;
    border-radius: 5px;
    /* rounded corners for better aesthetics */
}

header h2 {
    padding: .5em;
    text-align: center;
    font-size: 1.8em;
    color: #2d0021;
    background: rgb(245, 245, 245, 0.7);
    /* semi-transparent background for better readability */
    border-radius: 5px;
    margin: 20px;
}

main {
    display: flex;
    /* use flexbox for layout */
    flex-wrap: wrap;
    /* allow items to wrap to the next line on smaller screens */
    justify-content: space-between;
    /* space items evenly with space between them */
    gap: 10px;
    padding: 20px;
}

main>* {
    flex: 1 1 100%;
    /* allow items to grow and shrink as needed, with a base width of 100% */
    flex-direction: column;
    /* stack items vertically within each section */
}

section {
    font-size: 1.2em;
    color: #180012;
    background: rgba(255, 86, 238, 0.30);
    /* semi-transparent background for better readability */
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

p {
    background: rgba(245, 245, 245, 0.7);
    border-radius: 5px;
    margin: 10px 0;
    line-height: 1.4;
    text-justify: left;
    padding: 10px;
}

#last-img {
    width: 50vw;
    max-width: fit-content;
    margin: 10px;
    border: 2px solid #180012;
    border-radius: 5px;
}

figcaption {
    text-justify: auto;
    font-size: 0.9em;
    color: #180012;
    background-color: rgba(245, 245, 245, 0.7);
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

footer {
    /* height: 30px;*/
    text-align: center;
}


@media (min-width: 300px) {
    main>* {
        flex: 1 1 (100vw - 3px);
    }

    h1#banner {
        font-size: 3em;
        margin: 15px;
    }

    header h2 {
        font-size: 1.2em;
    }

    section {
        width: 100vw;
        margin: 5px 0;
    }

    #last-img {
        max-width: 330px;
    }
}

/* Responsive: large screens / landscape */
@media (min-width: 900px) and (orientation: landscape) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px;
        padding: 20px;
        flex-direction: column;
        align-content: space-between;
    }

    h1#banner {
        font-size: 4em;
        margin: 10px;
    }

    header h2 {
        font-size: 1.8em;
    }

    section {
        max-width: 60vw;
        margin: 0 auto;
    }

    #lastImg {
        width: 60vw;
        float: left;
    }

    #last-img {
        width: 60vw;
        float: left;
    }
}