* {
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Arial", sans-serif;
    background-color: #003703;
    padding: 0 .5em .5em .5em;
}

#flowerbkgd {
    background-size: cover;
    /* Scale the background image to cover the entire area of the element */
    background-position: center center;
    /* Center the background image within the element */
    background-attachment: fixed;
    /* Keep the background image fixed in place when scrolling */
    transition: background-image 300ms ease-in-out;
}

header {
    background: rgba(255, 86, 238, 0.50);
    /* semi-transparent background for better readability */
    padding: 10px;
    margin: 0 0 6rem 0;
    /* add bottom margin to create space between header and main content */
}

h1#banner {
    font-family: "Playfair Display", "Didot", "Bodoni MT", "Times New Roman", serif;
    font-size: 5rem;
    /* Large, elegant font for the banner */
    color: #180012;
    padding: .5em;
    text-align: center;
    /* Center the banner text */
    background-color: rgba(245, 245, 245, 0.7);
    margin: 20px;
    border-radius: 5px;
    /* rounded corners for better aesthetics */
}

header h2 {
    padding: .5em;
    text-align: center;
    font-size: 1.8em;
    /* Larger font size for better readability */
    color: #2d0021;
    background: rgb(245, 245, 245, 0.7);
    /* semi-transparent background for better readability */
    border-radius: 5px;
    margin: 20px;
}

main {
    display: flex;
    /* use flexbox for layout */
    flex-wrap: wrap;
    /* allow items to wrap to the next line on smaller screens */
    justify-content: space-between;
    /* space items evenly with space between them */
    gap: 10px;
    /* add gap between items for better spacing */
    padding: 20px;
}

main>* {
    flex: 1 1 100%;
    /* allow items to grow and shrink as needed, with a base width of 100% */
    flex-direction: column;
    /* stack items vertically within each section */
}

section {
    font-size: 1.2em;
    color: #180012;
    background: rgba(255, 86, 238, 0.30);
    /* semi-transparent background for better readability */
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

p {
    background: rgba(245, 245, 245, 0.7);
    border-radius: 5px;
    margin: 10px 0;
    line-height: 1.4;
    text-justify: left;
    padding: 10px;
}

figcaption {
    text-justify: auto;
    /* Justify the caption text for better readability */
    font-size: 0.9em;
    color: #180012;
    background-color: rgba(245, 245, 245, 0.7);
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0 15px;
    width: 100%;
}

#last-img {
    width: 76vw;
    /* Set the image width to 50% of the viewport width for better responsiveness */
    max-width: fit-content;
    /* Ensure the image does not exceed its natural size */
    margin: 10px;
    border: 8px solid rgba(245, 245, 245, 0.7);
    /* Add a solid border with the same color as the text for better aesthetics */
    border-radius: 5px;
}

#toggleDarkMode {
    position: relative;
    /* Position the button relative to its normal position */
    bottom: 20px;
    /* Move the button up by 20px to overlap the header */
    left: 10px;
    /* Move the button to the right by 10px */
    max-width: 180px;
    /* Limit the maximum width of the button */
    z-index: 1000;
    /* Ensure the button is above other content */
    padding: 10px;
    background-color: rgba(255, 86, 238, 0.8);
    color: #180012;
    border: rgb(155, 29, 145);
    /* Solid border with the same color as the background */
    border-radius: 5px;
    cursor: pointer;
    /* Change cursor to pointer on hover */
}

body.darkMode {
    background-color: #51003c;
    /* darker background for better contrast */
    color: white;
    /* light text for better readability */
}

body.darkMode header {
    background-color: rgba(255, 225, 248, 0.7);
    /* lighter background for better contrast */
}

body.darkMode h1#banner {
    color: rgba(255, 86, 238, .8);
    background: rgb(32, 32, 32);
}

body.darkMode h2 {
    /* header h2 */
    color: rgba(255, 86, 238, .8);
    /* light pink text for better contrast */
    background: rgb(32, 32, 32);
    /* dark background for better contrast */
}

section.darkMode,
section {
    transition: background-color 200ms ease, color 200ms ease;
}

/* when darkMode is enabled, make sections darker and text light */
body.darkMode section {
    background-color: rgba(255, 225, 248, 0.7);
    /* semi-transparent background for better readability */
}

body.darkMode p {
    color: rgba(255, 86, 238, .8);
    background: rgb(32, 32, 32);
}

body.darkMode figcaption {
    color: rgba(255, 86, 238, .8);
    background: rgb(32, 32, 32);
}

body.darkMode #last-img {
    width: 76vw;
    /* Set the image width to 50% of the viewport width for better responsiveness */
    max-width: fit-content;
    /* Ensure the image does not exceed its natural size */
    margin: 10px;
    border: 8px solid #180012;
    /* Add a solid border with the same color as the text for better aesthetics */
    border-radius: 5px;
}

footer {
    /* height: 30px;*/
    text-align: center;
}


@media (min-width: 300px) {
    main>* {
        flex: 1 1 (100vw - 3px);
    }

    h1#banner {
        font-size: 3em;
        margin: 15px;
    }

    header h2 {
        font-size: 1.2em;
    }

    section {
        width: 100vw;
        margin: 5px 0;
    }

    #last-img {
        max-width: 330px;
    }
}

/* Responsive: large screens / landscape */
@media (min-width: 900px) and (orientation: landscape) {
    main {
        display: flex;                  /
        flex-wrap: wrap;                    /* Allow items to wrap to the next line on smaller screens */
        justify-content: flex-start;        /* Align items to the start of the container for a more traditional layout on larger screens */
        gap: 10px;
        padding: 20px;  
        flex-direction: column;             /* Stack sections vertically on larger screens for better readability */
        align-content: space-between;       /* Align items to the start of the container and allow them to wrap to the next line */
    }

    h1#banner {
        font-size: 4em;
        margin: 10px;
    }

    header h2 {
        font-size: 1.8em;
    }

    section {
        max-width: 60vw;            /* Limit the maximum width of sections for better readability on larger screens */
        margin: 0 auto;       /* Center sections horizontally */    
    }

    figcaption {
        text-justify: auto;         /* Justify the caption text for better readability */
        font-size: 0.7em;           /* smaller font size for better aesthetics on larger screens */
        color: #180012;
        background-color: rgba(245, 245, 245, 0.7);
        border-radius: 5px;
        padding: 5px;
        margin: 50px 5px;
        width: 55%;
        float: right;
    }

    #lastImg {
        width: 60vw;
        float: left;
    }

    #last-img {
        width: 60vw;
        float: left;
    }

    body.darkMode #last-img {
        max-width: 330px;
    }
}